
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-01);
}
:root{
    --bg-01: #010019;
    --secondary-01: #201F3D;
    --tertiary-01: #32305F;

    --bg-02: #F4F4F4;
    
    --text-01: #010019;
    --paragraph-01: #201F3D;
    --text-02: #F4F4F4;
    --paragraph-02: #ECECEC;
    --paragraph-03: #B5B5B5;

    --paragraph: #2B2C34;
    --special-01: #A839FF;
    --special-02: #3B7FE4;
    --special-03: #FDE24F;

    --font-01: "Poppins", arial;
    --font-02: "Montserrat", sans-serif;
    --font-special: "Inika", serif;
}

